
{% extends 'base.html' %}
{% block title %}All Posts{% endblock %}
{% block content %}
<h1 class="mb-4">All Blog Posts</h1>
{% for post in posts %}
    <div class="card mb-3">
        <div class="card-body">
            <h5 class="card-title">
                <a href="{% url 'post_detail' post.id %}">{{ post.title }}</a>
            </h5>
            <p class="card-text">{{ post.content|truncatewords:20 }}</p>
            <small class="text-muted">by {{ post.author }} on {{ post.created }}</small>
            <p><a href="{% url 'create_post' %}">+ Create New Post</a></p>
            <p><a href="{% url 'update_post' post.id %}">Edit</a></p>
            <form action="{% url 'delete_post' post.id %}" method="POST" onsubmit="return confirmDelete();">
        </div>
    </div>
{% empty %}
<p><a href="{% url 'create_post' %}">+ Create New Post</a></p>
    <p>No posts yet.</p>
{% endfor %}
{% endblock %}
<script>
  function confirmDelete() {
      return confirm("Are you sure you want to delete this post?");
  }
  </script>
  

